*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: .5s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color:white;
}

.heading {
    color: black;
    text-transform: capitalize;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.heading span {
    color: red;
}

html {
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:30px;
    padding: 2rem 0%;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header{
    display: flex;
    max-height: 19vh;
    height: 4em;
    background: aqua;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
header .logo{
    width: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 0 0 10px;
    color: black;
    font-size: 10px;
}
header .logo h1{
    color: black;
}
header ul {
    margin: 0 12px 0 0;
}
header ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}
header ul li > a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 550;
    transition: all .70s;
    position: relative;
}
header ul li > a:hover{
    color: black;
    text-shadow: 1px 1px 12px rgb(224, 239, 245);
}
header ul:hover li > a{
    filter: blur(-5px);
    opacity: .2;
}
header ul li > a:hover{
    opacity: 1;
    filter: blur(.0px);
    display: block;
    font-size: 24px;
}
header label{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    display: none;
}
header label:hover .line{
    width: 40px;
}
header label > .line{
    width: 25px;
    height: 5px;
    background: black;
    position: relative;
    transition: all .50s;
    border-radius: 10px;
}
header label > .line::before,
header label > .line::after{
    position: absolute;
    content: "";
    width: 40px;
    height: inherit;
    background: inherit;
    top: -12px;
    border-radius: 10px;
}
header label > .line::after{
    top: 12px;
}
#toggle:checked+label .line{
    transform: rotate(135deg);
    width: 40px;
}
#toggle:checked:hover+label .line{
    transform: rotate(245deg);
}
#toggle:checked+label .line::before,
#toggle:checked+label .line::after{
    transform: rotate(90deg);
    top: 0;
}
#toggle{
    display: none;
}

/** media screen styling **/
@media screen and (max-width: 610px){
    header ul{
        position: absolute;
        width: 80%;
        height: 100vh;
        background: inherit;
        left: 0;
        transition: all .50s;
        top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(-300%);
    }
    header ul li{
        margin: 20px 0;
        font-size: 22px;
    }
    header label{
        display: flex;
        margin: 0 10px 0 0;
    }
    header .logo{
        width: 50%;
    }
    #toggle:checked ~ ul{
        transform: none;
    }
}
.home-wrap{
    height: 100vh;
    display: flex;

}
.cake-text-hold{
    height: 150vh;
    width: 100%;
    margin-top: 100px;
    display: flex;
}

.main-text-pic{
    height: 70vh;
    width: 100%;
    margin-top: 20px;
    display: flex;
    
}

.cake{
    width: 45%;
    height: 60vh;
    margin-top: 20px;
}
.one{
    margin-left: 20px;
}
.two{
    margin-left: 80px;
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;

}
.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 60%;
    border: .1rem solid red;
    border-radius: .5rem;
    border-radius:2px solid .8rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color:red;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin: 5px;
    text-decoration: none;
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:red;
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover:before{
    width: 100%;
}
.btn-box .btn:hover {
    color: white;
}
.one h3{
       font-size: 25px;
       margin-top: 100px;
       margin-left: 20px;
}
.top{
    margin-left: 20px;
    color: gray;
    border: 2px solid white;
    width: 90%;
    font-size: 25px;
}
p{
    margin-left: 20px;
    color: gray;
}

.box-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.box-container .box {
    border: .1rem solid white;
    width: 100%;
    padding-bottom: 2rem;
    overflow: hidden;
    position: relative; 
}

.box-container .box-content {
    text-align: center;
    transition: .5s linear;
}

.box-container .box .box-content p {
    font-size: .8rem;
}

.box-container .box .box-overlay {
    top: 0;
    position: absolute;
    width: 100%;
    transition: .5s linear;
    opacity: 0;
}
.rm{
    height: 10em;
    width: 30%;
    float: left;
}

.box-container .box:hover .box-overlay {
    opacity: 1;
    transform: scale(1.1);
}

.box-container .box .box-overlay img {
    width: 100%;
    height: 100%;
}

.box-container .box:hover .box-content {
    opacity: 0;
}
.bm::before{
    width: 100%;
    height: 100%;
}
.goat{
    
    height: 23em;
}
.hap{
    border: 2px solid red;
    height: 50%;
    width: 13%;
    border-radius:50%;
    margin-left: 110px;
    float:left;
    background-color: black;
}
.fat{
    height: 100%;
    width: 100%;
    border-radius:50%;
}
.gap{
   
    height: 15%;
    width: 17%;
    margin-left: 68px;
    float:left;
    
}
.eat{
    font-size: 20px;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rm{
    width: 25em;
    height: 20em;
    justify-content: space-between;
    border-radius: 10%;
}
.vm{
    width: 12em;
    height: 12em;
    justify-content: space-between;
    border-radius: 50%;
    background-color: black;
    

}
.fm{
    width: 40em;
    height: 23em;
    background-color: black;
    border-radius: 10%;

}
.pay-container {
    border: .1rem solid white;
    padding-bottom: 2rem;
    overflow-y: hidden;
}

.pay-container .pay-content {
    justify-content: space-between  ;
}
.cap-pax {
    float:left;
    
    width: 32%;
    height: 20em;
    justify-content: space-between;
    margin: 8px;
    margin-top: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: black;
    
}
.lorem{
    margin-top: 40px;
    color: rgb(196, 183, 183);
    text-align: center;
}
.dance{
    margin-top: 20px;
    color: rgb(196, 183, 183);
    text-align: center;
}
.pack1{
    width: 12em;
    height: 12em;
    border-radius: 50%;
    background-color: black;
    margin-left: 100px;
    margin-top: -80px;
}

/* my styling */

.Gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.Gallery .box-container .box {
    border-radius: 1rem;
    height: 20rem;
}


.Gallery .box-container  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
    transition: .5s linear;
}

.Gallery .box-container img:hover {
    transform: scale(1.2);
}




.cos1{
    margin-left:100px;
    font-size: 30px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cos2{
    margin-left:25px;
    font-size: 30px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cos3{
    margin-left:80px;
    font-size: 30px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cos4{
    margin-left: 120px;
    color: white;
}
.contact{
    min-height: auto;
    padding-bottom: 7rem;
    width: 30%;
    height: 26em;
    margin-top: 50px;
    margin: 0 auto;
}
.contact form{
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
    
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: red;
    border: .6rem;
    z-index: -1;
    transition: .5s;
}

.control form .input-box input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.7rem;
    color:black;
    background-color:white;
    border-radius: .6rem;
    
    border: 2px solid gray;
} 



 
.contact form .textarea-field textarea{
    resize: none;
}
.nain{
    width: 100%;
    height: 20em;
    border: 2px solid red;
    margin-left: 0px;
}
.has{
    width: 30%;
    height: 10em;
}

.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 9%;
    width: 100%;
    height: .1em;
    background-color: rgb(20, 17, 17);
    margin-top: 700px;
}
.footer-text p{
    font-size: 1.6rem;
}
.lop{
    margin-top: -30px;
    color: white;
}
